.check-class {
	fill:#219653;
}
.star-class{
	margin-right: 4px;
	fill:#FFA800;
}
.stararr-class{
	fill:#FFA800;
}
.basket-class {
	fill: #fff;
}
.compare-class{
	fill:#33485D;
}
.fav-class{
	fill:#33485D;
}
.oneclick-class{
	margin: 0 13px 0 20px;
	fill:#33485D;
}
.surface-class{
	fill:#219653;
}
.delivery-class{
	fill:#219653;
}
.credits-class{
	fill:#219653;
}
.instagram-class{
	fill:#DDE8F0;
}
.facebook-class{
	fill:#DDE8F0;
}
.twitter-class{
	fill:#DDE8F0;
}
.youtube-class{
	fill:#DDE8F0;
}
.mail-class{
	fill: #fff;
}